$gradient-primary : linear-gradient(90.39deg, #DD4E4B 0%, #EA6D6B 100%);
$gradient-secondary: linear-gradient(134.67deg, #EA6D6B 0%, #FFAF2A 100%);
$gradient-light: linear-gradient(134.67deg, #DD4E4B 0%, #DD4E4B 100%);
$gradient-bg: linear-gradient(90.62deg, rgba(194, 162, 249, 0.04) 0.52%, rgba(132, 169, 231, 0.16) 21.3%, rgba(239, 200, 236, 0.36) 99.46%);
$primary : #DD4E4B;
$primary-light : #eb3a3738;
$card-bg: #DD4E4B;
$black : #52D5BA;
$secondary : #DD4E4B;
$light-black : #121212B2;
$white : #ffffff;
$border-color : #E5E5E5;